
###
#   Database Settings
###
spring:
  datasource:
    url: jdbc:h2:~/analytics-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    platform: h2
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
  SFDC:
     url: https://test.salesforce.com/services/Soap/u/36.0
     username: sudarshanrao.edupuganti@bnsf.com.trial
     password: Test123$1ASixlThZCmbKh7cC4wZFjar3     
  data:
     path: C:\\Users\\B031526\\Downloads\\dataFolder
     file-size: 10000000
     
logging:
  level:
    org.springframework.web: ERROR
    com.bnsf: ERROR
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file: application.log     

###
#   H2 Settings
###
  h2:
    console:
      enabled: true
      path: /console
      settings:
        trace: false
        web-allow-others: false